html {
  min-width: 300px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #111;
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  background-color: #F8F8F8;
}

@media (max-width: 704px) {
  body p {
    font-size: 16px;
  }
}


/* ------ PAGE STRUCTURE ------ */

.content {
  padding-left: 50px;
  max-width: 1000px;
}


/* ------ BASIC ELEMENTS ------ */

h1, h2 {
  font-family: 'Viga', sans-serif;
  letter-spacing: 2px;
}

h1 {
  text-transform: uppercase;
  font-size: 4vw;
  text-align: left;
}

h2 {
  font-size: 5vw;
  text-transform: uppercase;
  margin-top: 70px;
}

@media (max-width: 704px) {
  h2 {
    margin-top: 20px;
    font-size: 24px;
  }
}

a.active {
  color: #143ff4;
  transition: .4s;
}

a:hover {
  color: #143ff4;
  transition: .4s;
}


/*------ CONTACT PAGE TYPE ------*/

div.form {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 50px;
}

 div.form {
  text-align: left;
}

div.form legend {
  padding-bottom: 10px;
}

div.form .checkboxes {
  padding-bottom: 20px;
}

div.form .radio {
  padding-bottom: 20px;
}

.form input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.form input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

.form input[type=submit] {
  background-color: white;
  color: #143ff4;
  border: 2px #143ff4 solid;
  border-radius: 6px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.form input[type=submit]:hover {
  color: white;
  background-color: #143ff4;
  border: 2px white solid;
}

textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

ul.form-list {
  min-height: 500px;
}

/*  Contact Mobile */

@media (max-width: 600px) {

  div.form {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 50px;
  }

}

/* ------ FOOTER ------ */

footer {
  width: 100%;
  padding-bottom: 20px;
  background-color: #143ff4;
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  font-size: 12px;
}

@media (max-width: 704px) {
  footer p {
    font-size: 10px;
  }
}

footer a {
  color: white;
}

footer a:hover,
footer a.active {
  color: #FFFF00;
}

.footer-tag {
  font-family: 'Viga', sans-serif;
  letter-spacing: 2px;
  font-size: 3vw;
  text-transform: uppercase;
  margin-bottom: 0px;
  margin: -25px auto;
}

.footer-tag h2 {
  margin: 20px auto;
  font-size: 4vw;
}


.social-icons {
  margin: 20px 0;
}


.social-icons a i {
  font-size: 50px;
  padding: 4px;
}


.social-icons a {
  text-decoration: none;
}
